.esclipe {
  position: absolute;
  z-index: 1;
  border-radius: 50%;
  // width: 200px;
  // height: 200px;

  &--200 {
    width: 200px;
    height: 200px;
  }

  &--400 {
    width: 400px;
    height: 400px;
  }

  &--left {
    top: -80px;
    left: 30px;
  }

  &--right {
    bottom: -80px;
    right: 30px;
  }

  &--center {
    top: -50px;
    left: 50px;
  }

  &--custom {
    top: 100px;
    left: 250px;
  }

  &--custom-02 {
    left: 30%;
    bottom: -30px;
  }

  &--green-20 {
    background-color: var(--green-20);
  }

  &--orange-20 {
    background-color: var(--orange-20);
  }

  &--orange-30 {
    background-color: var(--orange-30);
  }

  &--green-30 {
    background-color: var(--green-30);
  }
}
