.btn2 {
  display: block;
  border: 1px solid var(--green-80);
  border-radius: 7px;
  padding: 10px;
  font-weight: 600;
  color: var(--white-txt);
  background-color: var(--green-80);
  cursor: pointer;
}
