.aboutPage {
  // name-section
  .nameSection {
    padding: 30px;
    background-color: var(--green-10);

    .title {
      font-size: 2rem;
      font-weight: 700;
    }
  }

  // detail-section
  .detailSection {
    .article {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin: 50px 0;
      padding: 0 40px;

      &:nth-of-type(1) {
        flex-direction: row;
      }

      &:nth-of-type(2) {
        flex-direction: row-reverse;
      }

      &:nth-of-type(3) {
        flex-direction: row;
      }

      .articleDesc {
        margin: 20px auto;
        width: 500px;
      }

      .articleThumbnail {
        max-width: none;
      }
    }
  }

  // quotes-section
  .quoteSection {
    margin-top: 100px;
    position: relative;

    .quoteBackground {
      .image {
        display: block;
        margin: 0 auto;
        width: 100%;
        background-color: gray;
      }

      .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.6);
      }
    }

    .quoteContent {
      position: absolute;
      top: 0;
      left: 0;
      margin-top: 100px;
      width: 100%;
      text-align: center;
      line-height: 1.5;
      color: var(--white-txt);

      .title {
        color: #fff;
      }

      .description {
        width: 870px;
        margin: 50px auto 0 auto;
      }

      .openIc {
        position: absolute;
        top: 20%;
        left: 20%;
      }

      .closeIc {
        position: absolute;
        top: 70%;
        right: 20%;
      }
    }
  }

  // goal-section
  .goalSection {
    margin-top: 100px;

    .layout {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 0 120px;

      .goalThumbnail {
        position: relative;

        .image {
          position: relative;
          z-index: 2;
        }

        .esclipe {
          position: absolute;
        }

        .esclipe:nth-of-type(1) {
          top: 40px;
          left: -150px;
        }

        .esclipe:nth-of-type(2) {
          bottom: -40px;
          right: 150px;
        }
      }

      .goalContent {
        .title {
          margin-bottom: 20px;
        }

        .description {
          width: 410px;
          line-height: 1.5;
        }
      }
    }
  }
}
