.news__item {
  grid-column: span 4;

  &__img {
    width: 385px;
    height: 273px;
  }

  &__createdAt {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__createdAt span:nth-child(1) {
    color: var(--green-80);
  }

  &__createdAt span:nth-child(2) {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__title {
    margin: 20px 0;
    font-weight: 500;
  }

  &__desc {
    line-height: 1.5;
  }
}
