:root {
  --black-txt: #2c2c2c;
  --white-txt: #fff;
  --white-background: #fff;

  --green-100: #216000;
  --green-90: #2e8900;
  --green-80: #46b20f;
  --green-70: #63db25;
  --green-60: #81ff41;
  --green-50: #98ff64;
  --green-30: #c5ffa8;
  --green-20: #dcffca;
  --green-10: #f2ffec;

  --orange-100: #662400;
  --orange-90: #8e3300;
  --orange-80: #b74200;
  --orange-70: #e05000;
  --orange-60: #ff6916;
  --orange-50: #ff8440;
  --orange-40: #ff9f6a;
  --orange-30: #ffba94;
  --orange-20: #ffd5bd;
  --orange-10: #fff0e7;

  --gray-100: #656565;
  --gray-90: #515151;
  --gray-80: #656565;
  --gray-70: #7a7a7a;
  --gray-60: #8e8e8e;
  --gray-50: #8e8e8e;
  --gray-40: #b7b7b7;
  --gray-30: #cbcbcb;
  --gray-20: #e0e0e0;
  --gray-10: #f4f4f4;
}
