.container {
  margin: 0 auto;
  max-width: 1200px;
}

.banner {
  position: relative;
  margin-top: 5px;
  overflow-y: hidden;

  .banner__wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;

    .banner__content {
      grid-column: span 5;
      margin-top: 150px;

      &__subheading {
        width: 500px;
        font-size: 2.3rem;
        font-weight: 800;
      }

      &__heading {
        margin-top: 15px;
        width: 400px;
        font-size: 3rem;
        font-weight: 800;
        text-transform: uppercase;
      }

      &__desc {
        margin-top: 20px;
        line-height: 1.5;
      }
    }

    .banner__img {
      grid-column: span 7;

      &__main {
        position: relative;
        z-index: 2;
      }

      &__cover {
        position: absolute;
        top: 0;
        right: 0;
        border-top-left-radius: 17px;
        border-bottom-left-radius: 17px;
        width: 850px;
        height: 705px;
        background-color: var(--green-20);

        h1 {
          position: relative;
          top: 250px;
          left: 250px;
          width: 675px;
          text-transform: uppercase;
          font-size: 10.6rem;
          font-weight: 800;
          line-height: 100%;
          transform: rotate(90deg);
          color: var(--green-100);
          opacity: 0.2;
        }
      }
    }
  }
}

.achievement {
  margin-top: 70px;
}

.product {
  margin-top: 150px;
}

.news {
  margin-top: 50px;

  &__container {
    margin: 0 auto;
    max-width: 1200px;
  }

  &__content {
    margin-top: 50px;

    &__title {
      font-size: 2rem;
      font-weight: 800;
      text-align: center;
    }

    &__desc {
      display: flex;
      flex-direction: column;
      margin-top: 20px;
      text-align: center;
    }
  }

  &__lists {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    margin-top: 30px;
  }
}

.struc {
  position: relative;
  margin-top: 80px;

  &__background {
    position: absolute;
    top: 270px;
    width: 100%;
    height: 400px;
    background-color: var(--orange-10);
  }
}

.quality {
  margin-top: 200px;
}

.support {
  margin-top: 150px;
}
