.banner {
  position: relative;
  margin: 0 0;
  overflow: hidden;

  .layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;

    .content {
      grid-column: span 5;
      margin-top: 150px;

      .slogan {
        font-size: 2rem;
        font-weight: 800;
      }

      .title {
        margin-top: 15px;
        width: 450px;
        font-size: 2.7rem;
        font-weight: 800;
        text-transform: uppercase;
      }

      .desc {
        margin-top: 20px;
        font-weight: 400;
      }
    }
  }
}

.support {
  margin-top: 150px;

  .wrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;

    .thumbnail {
      grid-column: span 6;
    }
  }
}
