.productCard {
  width: 300px;
  margin: 50px 0;

  .cardImage {
    position: relative;

    .image {
      display: block;
      position: relative;
      margin: 0 auto;
      width: 200px;
      height: 200px;
      z-index: 2;
    }

    .esclipe {
      position: absolute;
      top: -70px;
      left: 50px;
    }
  }

  .cardTitle {
    display: flex;
    flex-direction: column;
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
    &:hover {
      color: var(--green-80);
    }
  }

  .cardDivider {
    margin: 10px auto;
    width: 50px;
    color: var(--gray-80);
  }

  .cardNumber {
    display: flex;
    flex-direction: column;
    gap: 5px;
    text-align: center;
    color: var(--gray-80);

    .price {
      display: inline-block;
      margin: 0 5px;
      font-size: 1.3rem;
      font-weight: 800;
      color: var(--black-txt);
    }
  }
}
