.struc {
  position: relative;
  margin-top: 80px;

  .strucContent {
    .strucTitle,
    .strucDesc {
      display: flex;
      flex-direction: column;
      margin: 20px auto;
      font-weight: 800;
      text-align: center;
    }

    .strucTitle {
      font-size: 2rem;
    }

    .strucDesc {
      font-weight: 400;
    }
  }

  .strucComponent {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 2;
    margin-top: 30px;

    .componentContent {
      border-radius: 7px;
      width: 345px;
      height: 380px;
      background-color: var(--white-background);

      .componentThumbnail {
        width: 346px;
        height: 195px;
        object-fit: cover;
      }

      .componentTitle {
        padding: 15px 30px;
        font-size: 1.5rem;
        color: var(--orange-70);
      }

      .componentDesc {
        display: flex;
        flex-direction: column;
        padding: 0 30px;
      }
    }
  }

  .strucCover {
    position: absolute;
    top: 270px;
    width: 100%;
    height: 400px;
    background-color: var(--orange-10);
  }
}
