.quality {
  margin-top: 200px;

  .qualityList {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  .qualityItem {
    display: flex;
    gap: 15px;
    margin: 20px 0;

    .icon {
      width: 60px;
      height: 60px;
    }

    .content {
      .title {
        font-size: 1.4rem;
        margin-bottom: 10px;
      }

      .desc {
        width: 230px;
      }
    }
  }
}
