.quality {
  margin-top: 150px;

  .layout {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;

    .qualityCard {
      display: flex;
      gap: 15px;
      margin: 20px 0;

      .cardIcon {
        width: 60px;
        height: 60px;
      }

      .cardContent {
        .cardTitle {
          font-size: 1.4rem;
          margin-bottom: 10px;
        }

        .cardDesc {
          width: 230px;
        }
      }
    }
  }
}
