.header {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);

  .headerWrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .headerLogo {
      img {
        width: 125px;
        height: 85px;
      }
    }

    .headerNav {
      display: flex;
      align-items: center;

      .headerNavItem {
        a {
          margin: 0 20px;
          padding: 20px 0;
          border-bottom: 1px solid #fff;
          text-align: center;
          cursor: pointer;

          &:hover,
          &.active {
            border-bottom: 1px solid var(--green-80);
            color: var(--green-80);
          }
        }
      }

      .headerNavIcon {
        margin: 0 20px;
        padding: 10px;
        border-radius: 5px;
        cursor: pointer;

        img {
          width: 25px;
          height: 25px;
        }

        &:hover {
          background-color: var(--green-80);
        }

        &:hover img {
          filter: invert(1) brightness(2);
        }
      }
    }
  }
}
