.header {
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.3);

  .layout {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      width: 125px;
      height: 85px;
    }

    .navBar {
      grid-column: span 8;
      display: flex;
      align-items: center;

      .navItem a {
        margin: 0 20px;
        padding: 20px 0;
        border-bottom: 1px solid #fff;
        text-align: center;
        cursor: pointer;

        &:hover,
        &.active {
          border-bottom: 1px solid var(--green-80);
          color: var(--green-80);
        }
      }

      .navIcon {
        margin: 0 10px;
        padding: 10px;
        border-radius: 5px;
        width: 45px;
        height: 45px;
        cursor: pointer;

        &:hover {
          background-color: var(--green-80);
        }

        &:hover img {
          filter: invert(1) brightness(2);
        }
      }
    }
  }
}
