.productPage {
  .heading {
    padding: 30px;
    background-color: var(--green-10);

    .headingContent {
      font-size: 2.2rem;
      font-weight: 700;
    }
  }

  .pageIntro {
    margin-top: 100px;

    .wrapper {
      display: flex;
      justify-content: center;
      gap: 30px;
      position: relative;

      .svg01 {
        position: absolute;
        left: 0;
        z-index: 1;
      }

      .svg02 {
        position: absolute;
        right: 0;
        bottom: 60px;
        z-index: 1;
      }

      .introContent {
        margin-top: 80px;
        z-index: 2;

        .contentTitle {
          display: flex;
          flex-direction: column;
          font-size: 32px;
          font-weight: 600;
        }

        .contentDesc {
          margin-top: 10px;
          width: 400px;
          line-height: 1.5;
        }
      }

      .introThumnail {
        z-index: 2;
      }
    }
  }

  .guide {
    margin-top: 200px;

    .content {
      text-align: center;

      .contentTitle {
        display: flex;
        flex-direction: column;
      }

      .contentDesc {
        margin: 20px auto;
        width: 400px;
        line-height: 1.5;
      }
    }

    .wrapper {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin-top: 50px;

      .step {
        position: relative;

        .stepContent {
          display: flex;
          align-items: center;
          gap: 10px;
          position: relative;
          width: 300px;
          z-index: 2;

          .stepNumber {
            font-size: 83px;
            font-style: normal;
            font-family: Arial, sans-serif;
            font-weight: 800;
            line-height: normal;
            color: #fff;
            -webkit-text-stroke: 2px black;
          }

          .stepDesc {
            line-height: 1.5;
          }
        }
      }
    }
  }
}
