.productPage {
  // header-section
  .pageHeader {
    padding: 30px;
    background-color: var(--green-10);
    .title {
      font-size: 2.2rem;
      font-weight: 700;
    }
  }

  // intro-section
  .intro {
    margin-top: 100px;

    .layout {
      display: flex;
      justify-content: center;
      gap: 30px;
      position: relative;

      .unknownShape:nth-of-type(1) {
        position: absolute;
        left: 0;
        z-index: 1;
      }

      .unknownShape:nth-of-type(2) {
        position: absolute;
        right: 0;
        bottom: 60px;
        z-index: 1;
      }

      .introContent {
        margin-top: 80px;
        z-index: 2;

        .title {
          display: flex;
          flex-direction: column;
          font-size: 32px;
          font-weight: 600;
        }

        .desc {
          margin-top: 10px;
          width: 400px;
          line-height: 1.5;
        }
      }

      .introThumnail {
        z-index: 2;
      }
    }
  }

  // guide-section
  .guideline {
    margin-top: 200px;

    .header {
      text-align: center;
      .title {
        display: flex;
        flex-direction: column;
      }

      .subtitle {
        margin: 20px auto;
        width: 400px;
        line-height: 1.5;
      }
    }

    .layout {
      display: flex;
      justify-content: center;
      gap: 40px;
      margin-top: 50px;

      .guideStep {
        position: relative;

        .stepContent {
          display: flex;
          justify-content: space-evenly;
          align-items: center;
          gap: 10px;
          position: relative;
          width: 330px;
          z-index: 2;

          .stepNumber {
            font-size: 83px;
            font-style: normal;
            font-family: Arial, sans-serif;
            font-weight: 800;
            line-height: normal;
            color: #fff;
            -webkit-text-stroke: 2px black;
          }

          .stepDesc {
            width: 170px;
            line-height: 1.5;
          }
        }
      }
    }

    .guideMoreInfo {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: 10px;
      margin-top: 70px;

      .guideBox {
        display: flex;
        flex-direction: row-reverse;
        gap: 20px;
        box-shadow: 0px 0px 72px 0px rgba(54, 54, 54, 0.1);
        width: 500px;
        height: 300px;
        background-color: #fff;

        .boxContent {
          margin: auto;
          text-align: left;
        }

        .boxBorder {
          display: block;
          border-top-right-radius: 10px;
          border-bottom-right-radius: 10px;
          width: 40px;
          height: 100%;
          background-color: var(--green-80);
        }
      }

      .guideThumbnail {
        max-width: none;
      }
    }
  }

  // protect-section
  .protection {
    margin-top: 100px;

    .header {
      display: flex;
      flex-direction: column;
      text-align: center;

      .title {
        font-size: 2rem;
        font-weight: 800;
      }
    }

    .body {
      position: relative;
      margin-top: 50px;
      overflow: hidden;

      .protectInfo {
        margin-top: 30px;

        .layout {
          display: flex;
          justify-content: center;
          gap: 70px;
          position: relative;
          z-index: 2;

          .guideThumbnail {
            max-width: none;
          }

          .guideDesc {
            width: 600px;

            .guideIcon {
              display: block;
              margin-left: auto;
            }
          }
        }

        .background {
          position: absolute;
          top: 0;
          left: 10%;
          width: 100%;
          height: 330px;
          z-index: 1;
          background-color: var(--green-10);
        }
      }
    }

    .protectInfo:nth-child(2) {
      position: relative;
      margin-top: 100px;

      .layout {
        flex-direction: row-reverse;

        .guideDesc {
          .guideIcon {
            display: block;
            margin-top: 10px;
            margin-left: 0;
          }
        }
      }

      .background {
        position: absolute;
        top: -30px;
        right: 10%;
        width: 100%;
        height: 330px;
        z-index: 1;
        background-color: var(--orange-10);
      }
    }
  }
}
