.comp {
  position: relative;
  margin-top: 100px;

  .header {
    .title,
    .subtitle {
      display: flex;
      flex-direction: column;
      margin: 20px auto;
      font-weight: 800;
      text-align: center;
    }

    .title {
      font-size: 2rem;
    }

    .subtitle {
      font-weight: 400;
    }
  }

  .compList {
    display: flex;
    justify-content: center;
    gap: 20px;
    position: relative;
    z-index: 2;
    margin-top: 30px;

    .compCard {
      border-radius: 7px;
      width: 345px;
      height: 400px;
      background-color: var(--white-background);

      .cardImage {
        width: 346px;
        height: 195px;
        object-fit: cover;
      }

      .cardContent {
        padding: 0 30px;

        .cardTitle {
          margin-top: 10px;
          font-size: 1.5rem;
          color: var(--orange-70);
        }
      }
    }
  }

  .background {
    position: absolute;
    top: 270px;
    width: 100%;
    height: 400px;
    background-color: var(--orange-10);
  }
}
