.footer {
  margin-top: 100px;
  padding: 40px 0;
  height: 400px;
  background-color: var(--green-10);

  .footerWrapper {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;

    .footerColumn01,
    .footerColumn02,
    .footerColumn03,
    .footerColumn04 {
      grid-column: span 3;
    }

    .columnContent {
      width: 200px;
      margin: 20px auto;

      .columnText {
        margin-top: 20px;
        width: 230px;
      }

      .columnTitle {
        margin-bottom: 20px;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--green-80);
      }

      .columnItem li {
        display: flex;
        align-items: center;
        gap: 5px;
        margin: 10px 0;
      }
    }
  }

  .footerDevider {
    margin: 20px 0;
  }

  .footerEnd {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .footerSocial svg {
      margin: 0 5px;
      border-radius: 50%;
      padding: 10px;
      background-color: var(--green-20);
    }
  }
}
