.quality {
  margin-top: 200px;

  .qualityContainer {
    margin: 0 auto;
    max-width: 1200px;

    .qualityList {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 50px;
    }

    .qualityItem {
      display: flex;
      gap: 15px;
      margin: 20px 0;

      .itemIcon {
        width: 60px;
        height: 60px;
      }

      .itemContent {
        .itemTitle {
          font-size: 1.4rem;
          margin-bottom: 10px;
        }

        .itemDesc {
          width: 230px;
        }
      }
    }
  }
}
