.container {
  margin: 0 auto;
  max-width: 1200px;
}

.quality {
  &__list {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
  }

  &__item {
    display: flex;
    gap: 15px;
    margin: 20px 0;

    &__img {
      width: 60px;
      height: 60px;
    }

    &__content {
      &__title {
        font-size: 1.4rem;
        margin-bottom: 10px;
      }

      &__desc {
        width: 230px;
      }
    }
  }
}
