.achievSection {
  margin-top: 100px;

  .title {
    grid-column: span 12;
    margin: 0 auto;
    width: 500px;
    font-size: 2rem;
    font-weight: 800;
  }

  .description {
    grid-column: span 12;
    margin: 20px auto;
    width: 750px;
  }

  .content {
    position: relative;

    .layout {
      display: flex;
      justify-content: center;
      gap: 30px;
      position: relative;
      margin-top: 100px;
      z-index: 2;

      .card {
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 20px;
        border-radius: 5px;
        width: 295px;
        height: 330px;
        box-shadow: 0px 0px 72px 0px rgba(54, 54, 54, 0.1);
        background-color: #fff;

        .cardIcon {
          display: block;
          margin-bottom: 20px;
          padding: 20px;
          border-radius: 5px;
          width: 80px;
          height: 80px;
          background-color: var(--orange-10);
        }

        .cardNumber {
          font-size: 2.5rem;
          font-weight: 800;
        }

        .cardDesc {
          margin: 20px 0;
          width: 255px;
          font-size: 1.3rem;
        }
      }

      .card:nth-of-type(2) {
        align-self: center;
        position: relative;
        top: -30px;
        width: 342px;
        height: 390px;
      }
    }

    .esclipe {
      position: absolute;
    }

    .esclipe:nth-of-type(2) {
      top: -80px;
      left: 30px;
    }

    .esclipe:nth-of-type(3) {
      bottom: -50px;
      right: 30px;
    }
  }
}
