.achievSection {
  margin-top: 150px;

  .title {
    margin: 0 auto;
    width: 500px;
    font-size: 2rem;
    font-weight: 800;
  }

  .description {
    margin: 20px auto;
    width: 750px;
  }

  .achievContent {
    position: relative;

    .achievList {
      display: flex;
      justify-content: center;
      gap: 30px;
      position: relative;
      margin-top: 100px;
      z-index: 2;
    }

    .esclipe {
      position: absolute;
    }

    .esclipe:nth-of-type(2) {
      top: -100px;
      left: 30px;
    }

    .esclipe:nth-of-type(3) {
      bottom: -50px;
      right: 30px;
    }
  }
}
