.formPopUp {
  .overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 3;
  }

  .layout {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    gap: 10px;
    position: fixed;
    top: 100px;
    left: 23%;
    margin: 0 auto;
    border-radius: 17px;
    width: 50%;
    z-index: 4;
    background-color: #fff;

    .content {
      grid-column: span 6;
      position: relative;
      padding: 40px;

      .productInfo {
        .divider {
          margin: 10px 0;
          width: 50px;
        }

        .quantity {
          display: block;
          margin: 5px 0;
        }

        .price {
          display: flex;
          align-items: center;
          gap: 5px;

          .highlight {
            font-size: 1.2rem;
            font-weight: 600;
          }
        }
      }

      .form {
        .formTitle {
          font-size: 2rem;
          color: var(--green-80);
        }

        .formDesc {
          margin: 15px 0;
          width: 500px;
        }

        .formGroup {
          .formField {
            position: relative;
            margin: 20px 0;

            input {
              padding: 10px 30px;
              border: 1px solid var(--gray-50);
              border-radius: 5px;
              width: 330px;
            }

            svg {
              position: absolute;
              top: 15px;
              left: 8px;
            }
          }
        }
      }
    }

    .thumbnail {
      grid-column: span 6;
      position: relative;

      .image {
        position: relative;
        z-index: 2;
      }

      .overlay {
        position: absolute;
        top: 0px;
        left: 200px;
        border-radius: 17px;
        background-color: var(--green-20);
        width: 400px;
        height: 100%;
        z-index: 1;

        .overlayTxt {
          position: relative;
          top: 250px;
          left: -70px;
          width: 675px;
          text-transform: uppercase;
          font-weight: 800;
          font-size: 8rem;
          line-height: 100%;
          transform: rotate(90deg);
          color: var(--green-100);
          opacity: 0.2;
        }
      }
    }

    .closeIc {
      position: absolute;
      top: 0px;
      right: -120px;
      z-index: 2;
      cursor: pointer;
    }
  }
}
